/*
@File: Pasona Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Big Data Analytics Banner CSS
** - What We Do CSS
** - Features CSS
** - Discover CSS
** - Industries Serve CSS
** - Bigdata Services CSS
*/

/*================================================
Default CSS
=================================================*/
$font-family: 'Poppins', sans-serif;
$light-green-color: #44ce6f;
$white-color: #ffffff;
$black-color: #0e314c;
$navlink-color: #4a6f8a;
$paragraph-color: #6084a4;
$purple-color: #c679e3;
$bg-color: #f7fafd;
$bg-color2: #f9f6f6;
$hosting-main-color: #032b8d;
$gradient-color: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
$gradient-color2: linear-gradient(to right bottom, #1fa2ff, #00c0ff, #00d9f2, #53eedd, #a6ffcb);
$transition: .5s;
$font-size: 14px;

/*=============================
Big Data Analytics Banner CSS
===============================*/
.bigdata-analytics-banner {
    background: {
        image: url(../img/bigdata-analytics/main-banner.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    padding: {
        top: 280px;
        bottom: 25px;
    };
}
.bigdata-analytics-content {
    max-width: 555px;

    h1 {
        color: $white-color;
        margin-bottom: 25px;
        line-height: 1.4;
        font: {
            size: 50px;
            weight: 700;
        };
    }
    p {
        color: #e9e9e9;
        max-width: 470px;
        font: {
            size: 15px;
        };
    }
    .btn {
        margin-top: 18px;
    }
}
.banner-boxes-area {
    margin-top: 230px;
}
.single-banner-boxes {
    margin-bottom: 30px;
    border: 1px dashed #687b6f;
    position: relative;
    border-radius: 5px;
    padding: 25px 25px 25px 95px;
    background-color: rgba(0, 0, 0, .50);
    transition: $transition;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
        z-index: -1;
        opacity: 0;
        margin: -1px;
        visibility: hidden;
        transition: $transition;
    }
    .icon {
        display: inline-block;
        text-align: center;
        width: 55px;
        height: 55px;
        position: absolute;
        left: 20px;
        top: 25px;
        line-height: 55px;
        background: #cdf1d8;
        border-radius: 50%;
        color: $light-green-color;
        transition: $transition;
    }
    h3 {
        color: $white-color;
        margin-bottom: 12px;
        font: {
            size: 18px;
            weight: 600;
        };
    }
    p {
        color: #dadada;
        transition: $transition;
    }
    &:hover {
        background-color: transparent;
        border-color: transparent;

        .icon {
            color: $light-green-color;
            background-color: $white-color;
        }
        &::before {
            opacity: 1;
            visibility: visible;
        }
        p {
            color: $white-color;
        }
    }
}
.col-lg-4 {
    &:nth-child(2) {
        .single-banner-boxes {
            .icon {
                color: #f78acb;
                background: #f9f4f7;
            }
            &:hover {
                .icon {
                    background-color: $white-color;
                    color: #f78acb;
                }
            }
        }
    }
    &:nth-child(3) {
        .single-banner-boxes {
            .icon {
                color: $purple-color;
                background: #edc3fc;
            }
            &:hover {
                .icon {
                    background-color: $white-color;
                    color: $purple-color;
                }
            }
        }
    }
}

/*=============================
What We Do CSS
===============================*/
.what-we-do-area {
    padding-bottom: 50px;
}
.single-what-we-do-box {
    margin-bottom: 30px;
    position: relative;
    padding-left: 88px;

    .icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 65px;
        height: 65px;
        border-radius: 5px;
        color: $white-color;
        text-align: center;
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);

        i {
            position: absolute;
            left: 0;
            right: 0;
            top: 40%;
            transform: translateY(-40%);

            &::before {
                font-size: 40px;
            }
        }
    }
    h3 {
        margin-bottom: 10px;
        font: {
            size: 20px;
            weight: 600;
        };
    }
    .link {
        display: block;
        font-weight: 500;
        text-decoration: underline;
        margin-bottom: 10px;
    }
    .read-more-btn {
        display: inline-block;
        font-weight: 600;
        padding: {
            top: 10px;
            left: -4px;
        };
        svg {
            margin-right: 5px;
        }
        i {
            position: relative;
            top: 6px;
        }
    }
}

/*=============================
Discover CSS
===============================*/
.discover-area {
    position: relative;
    z-index: 1;
    background: linear-gradient(135deg, #43e794 0%, #23bdb8 100%);
}
.discover-image {
    position: relative;
    padding-bottom: 100px;
    margin-right: 15px;

    img {
        &:nth-child(2) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
.discover-content {
    padding-left: 15px;

    h2 {
        color: $white-color;
        margin-bottom: 15px;
        line-height: 1.5;
        font: {
            size: 28px;
            weight: 600;
        };
    }
    p {
        color: $white-color;
    }
    .btn-primary {
        box-shadow: unset !important;
        margin-top: 15px;
        background-color: $white-color;
        color: $black-color;

        &:hover {
            color: $white-color;
        }
    }
}
.analytics-shape1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.analytics-shape2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

/*================================================
Industries Serve CSS
=================================================*/
.industries-serve-area {
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
    background: linear-gradient(135deg, #43e794 0%, #23bdb8 100%);

    .section-title {
        h2 {
            color: $white-color;
        }
        p {
            color: $white-color;
        }
        .bar {
            &::before {
                background: $white-color;
            }
        }
    }
}
.single-industries-serve-box {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    color: $black-color;
    border-radius: 5px;
    background-color: #f4f4fb;
    padding: 20px 15px 20px 50px;
    transition: $transition;
    z-index: 1;
    font: {
        size: 18px;
        weight: 600;
    };
    .icon {
        position: absolute;
        left: -15px;
        top: 50%;
        line-height: 1;
        transform: translateY(-50%);
        color: #c3c3c9;
        transition: $transition;
        font: {
            size: 55px;
            weight: normal;
        };
    }
    &::before {
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        content: '';
        z-index: -1;
        transition: $transition;
        background-color: $black-color;
    }
    .link-btn {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        z-index: 2;
    }
    &:hover {
        color: $white-color;

        .icon {
            color: $white-color;
        }
        &::before {
            width: 100%;
        }
    }
}

/*=============================
Bigdata Services CSS
===============================*/
.single-services-box-item {
    background-color: $white-color;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: $transition;
    padding: 90px 35px 70px;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);

    .icon {
        width: 90px;
        height: 90px;
        text-align: center;
        position: relative;
        background-color: #80c54d;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 25px;

        img {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
        }
    }
    h3 {
        margin-bottom: 12px;
        font: {
            size: 20px;
            weight: 600;
        };
        a {
            display: inline-block;
        }
    }
    .shape {
        position: absolute;
        right: 0;
        top: -15px;
        z-index: -1;
    }
    .learn-more-btn {
        color: $light-green-color;
        font-weight: 500;
        display: inline-block;
        margin-top: 5px;
        position: relative;
        padding-left: 28px;

        svg {
            position: absolute;
            left: 0;
            top: -2px;
            transition: $transition;
        }
        &:hover {
            color: $black-color;
            padding: {
                left: 0;
                right: 5px;
            };
            svg {
                left: 100%;
                color: $light-green-color;
            }
        }
    }
    &:hover {
        transform: translateY(-10px);
    }
}
.col-lg-4 {
    &:nth-child(2) {
        .single-services-box-item {
            .icon {
                background-color: #4267d1;
            }
        }
    }
    &:nth-child(3) {
        .single-services-box-item {
            .icon {
                background-color: #ca8220;
            }
        }
    }
    &:nth-child(4) {
        .single-services-box-item {
            .icon {
                background-color: #b92fb1;
            }
        }
    }
    &:nth-child(5) {
        .single-services-box-item {
            .icon {
                background-color: #de6742;
            }
        }
    }
    &:nth-child(6) {
        .single-services-box-item {
            .icon {
                background-color: #59eed0;
            }
        }
    }
}

/*================================================
Newsletter CSS
=================================================*/
.newsletter-area {
    position: relative;
    z-index: 1;

    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        };
        .row {
            margin: {
                left: 0;
                right: 0;
            };
            .col-lg-6 {
                padding: {
                    left: 0;
                    right: 0;
                };
            }
        }
    }
    &::before {
        content: '';
        position: absolute;
        right: 0;
        width: 65%;
        height: 100%;
        bottom: 0;
        z-index: 1;
        -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
        background: linear-gradient(135deg, #43e794 0%, #23bdb8 100%);
    }
}
.newsletter-image {
    img {
        width: 100%;
    }
}
.newsletter-content {
    position: relative;
    z-index: 2;
    max-width: 540px;

    h2 {
        color: $white-color;
        margin-bottom: 0;
        line-height: 1.5;
        font: {
            size: 28px;
            weight: 600;
        };
    }
    .newsletter-form {
        position: relative;
        padding-right: 160px;
        margin: {
            bottom: 15px;
            top: 20px;
        };
        .input-newsletter {
            display: block;
            width: 100%;
            height: 50px;
            color: $white-color;
            border: none;
            outline: 0;
            background-color: #333333;
            border-radius: 30px;
            padding: {
                left: 20px;
                top: 2px;
            };
            &::placeholder {
                transition: $transition;
                color: $white-color;
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            height: 50px;
            border: none;
            padding: 0 30px;
            line-height: 50px;
            background-color: $white-color;
            border-radius: 30px;
            transition: $transition;
            color: $black-color;
            font: {
                size: 14px;
                weight: 600;
            };
            &:hover {
                background-color: $black-color;
                color: $white-color;
            }
        }
    }
    p {
        color: $white-color;
        max-width: 400px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: $gradient-color;
        display: none;
    }
}