/*
@File: Pasona Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Main Banner CSS
** - Boxes CSS
** - Services CSS
*/

/*================================================
Default CSS
=================================================*/
$font-family: 'Poppins', sans-serif;
$light-green-color: #44ce6f;
$white-color: #ffffff;
$black-color: #0e314c;
$navlink-color: #4a6f8a;
$paragraph-color: #6084a4;
$purple-color: #c679e3;
$bg-color: #f7fafd;
$bg-color2: #f9f6f6;
$hosting-main-color: #032b8d;
$gradient-color: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
$gradient-color2: linear-gradient(to right bottom, #1fa2ff, #00c0ff, #00d9f2, #53eedd, #a6ffcb);
$transition: .5s;
$font-size: 14px;

/*================================================
Main Banner CSS
=================================================*/
.main-banner {
    position: relative;
    height: 910px;
    z-index: 1;
    background: transparent url(../img/banner-bg1.jpg) right top no-repeat;

    .hero-content {
        h1 {
            font: {
                size: 45px;
                weight: 500;
            }
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 30px;
        }
    }
    .banner-form {
        background: $white-color;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
        padding: 50px 30px;
        border-radius: 5px;

        form {
            .form-control {
                padding-left: 15px;
            }
            .btn {
                display: block;
                width: 100%;
                transform: unset;
                margin-top: 25px;
            }
        }
    }
}
/*================================================
Boxes CSS
=================================================*/
.boxes-slides {
    .single-box {
        margin: {
            left: 15px;
            right: 15px;
        }
        &:hover {
            transform: translateY(0);
        }
    }
}
/*================================================
Services CSS
=================================================*/
.services-area-two {
    padding-bottom: 50px;
}

.single-services-box {
    position: relative;
    background: $white-color;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: $transition;
    padding: {
        left: 20px;
        top: 30px;
        right: 20px;
        bottom: 30px;
    }
    h3 {
        font-size: 18px;
        margin: {
            top: 25px;
            bottom: 15px;
        }
    }
    .icon {
        text-align: center;
        width: 55px;
        height: 55px;
        line-height: 55px;
        background: #cdf1d8;
        border-radius: 50%;
        color: $light-green-color;
        transition: $transition;

        &.bg-c679e3 {
            color: $purple-color;
            background: #edc3fc;
        }
        &.bg-eb6b3d {
            color: #eb6b3d;
            background: rgba(235, 107, 61, .3);
        }
    }
    &::before, &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 4px;
        background: $light-green-color;
        opacity: 0;
        visibility: hidden;
        bottom: 0;
        transition: $transition;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

        .icon {
            background: $light-green-color;
            color: $white-color;

            &.bg-c679e3 {
                background: $purple-color;
            }
            &.bg-eb6b3d {
                background: #eb6b3d;
            }
        }
        &::after, &::before {
            opacity: 1;
            visibility: visible;
            width: 50%;
        }
    }
}