/*
@File: Pasona Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Main Banner CSS
** - Boxes CSS
** - Services CSS
*/
/*================================================
Default CSS
=================================================*/
/*================================================
Main Banner CSS
=================================================*/
.main-banner {
  position: relative;
  height: 910px;
  z-index: 1;
  background: transparent url(../img/banner-bg1.jpg) right top no-repeat;
}

.main-banner .hero-content h1 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}

.main-banner .hero-content p {
  margin-bottom: 30px;
}

.main-banner .banner-form {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 50px 30px;
  border-radius: 5px;
}

.main-banner .banner-form form .form-control {
  padding-left: 15px;
}

.main-banner .banner-form form .btn {
  display: block;
  width: 100%;
  -webkit-transform: unset;
          transform: unset;
  margin-top: 25px;
}

/*================================================
Boxes CSS
=================================================*/
.boxes-slides .single-box {
  margin-left: 15px;
  margin-right: 15px;
}

.boxes-slides .single-box:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*================================================
Services CSS
=================================================*/
.services-area-two {
  padding-bottom: 50px;
}

.single-services-box {
  position: relative;
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.single-services-box h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.single-services-box .icon {
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  border-radius: 50%;
  color: #44ce6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box .icon.bg-c679e3 {
  color: #c679e3;
  background: #edc3fc;
}

.single-services-box .icon.bg-eb6b3d {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-services-box::before, .single-services-box::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background: #44ce6f;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box::before {
  left: 0;
}

.single-services-box::after {
  right: 0;
}

.single-services-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-services-box:hover .icon {
  background: #44ce6f;
  color: #ffffff;
}

.single-services-box:hover .icon.bg-c679e3 {
  background: #c679e3;
}

.single-services-box:hover .icon.bg-eb6b3d {
  background: #eb6b3d;
}

.single-services-box:hover::after, .single-services-box:hover::before {
  opacity: 1;
  visibility: visible;
  width: 50%;
}
/*# sourceMappingURL=developer.css.map */