/*
@File: Pasona Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Agency Main Banner CSS
** - Agency About CSS
** - Agency Services CSS
** - Agency CTA CSS

*/
/*================================================
Default CSS
=================================================*/
/*================================================
Agency Main Banner CSS
=================================================*/
.agency-main-banner {
  position: relative;
  z-index: 1;
}

.agency-main-banner .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.agency-main-banner .container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}

.agency-main-banner .container-fluid .row .col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}

.agency-main-banner .shape2 {
  left: 5%;
}

.agency-main-banner .shape8 {
  right: 50%;
}

.agency-main-banner .shape4 {
  right: 50%;
}

.agency-banner-content {
  margin-left: auto;
  max-width: 650px;
}

.agency-banner-content .sub-title {
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  color: #6084a4;
  margin-bottom: 8px;
}

.agency-banner-content h1 {
  margin-bottom: 15px;
  line-height: 1.3;
  font-size: 50px;
  font-weight: 500;
}

.agency-banner-content p {
  font-size: 15px;
  max-width: 450px;
}

.agency-banner-content .btn {
  margin-top: 5px;
}

.agency-banner-image {
  text-align: right;
}

/*================================================
Agency About CSS
=================================================*/
.agency-about-area {
  position: relative;
  z-index: 1;
}

.agency-about-area .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.agency-about-area .container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}

.agency-about-area .container-fluid .row .col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}

.agency-about-img {
  padding-right: 100px;
}

.agency-about-img img {
  width: 100%;
}

.agency-about-content {
  max-width: 540px;
}

.agency-about-content .sub-title {
  display: inline-block;
  color: #c679e3;
  background-color: #f5dffd;
  margin-bottom: 18px;
  border-radius: 30px;
  padding: 5px 20px 4px;
  font-size: 13px;
}

.agency-about-content h2 {
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}

.agency-about-content .bar {
  height: 5px;
  width: 90px;
  background: #cdf1d8;
  margin: 20px 0;
  position: relative;
  border-radius: 30px;
}

.agency-about-content .bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #44ce6f;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
}

.agency-about-content p {
  margin-bottom: 12px;
}

.agency-about-content .btn {
  margin-top: 10px;
}

.shape10 {
  position: absolute;
  right: 0;
  top: -40%;
  z-index: -1;
}

/*================================================
Agency Services CSS
=================================================*/
.agency-services-area {
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#d5fefd), color-stop(#e1fdff), color-stop(#effdff), color-stop(#fafdff), to(#ffffff));
  background: linear-gradient(to top, #d5fefd, #e1fdff, #effdff, #fafdff, #ffffff);
}

.agency-services-box {
  margin-bottom: 30px;
  text-align: center;
}

.agency-services-box img {
  border-radius: 7px;
}

.agency-services-box .content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ffffff;
  position: relative;
  border-radius: 7px;
  padding: 25px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.05);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
}

.agency-services-box .content h3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  margin-bottom: 0;
}

.agency-services-box .content .read-more-btn {
  display: inline-block;
  border-radius: 30px;
  padding: 9px 25px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -22px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  font-weight: 500;
}

.agency-services-box .content .read-more-btn i {
  position: relative;
  top: 4px;
}

.agency-services-box .content .read-more-btn svg {
  width: 15px;
  margin-left: 2px;
}

.agency-services-box .content .read-more-btn:hover {
  background-color: #44ce6f;
  border-color: #44ce6f;
  color: #ffffff;
}

.agency-services-box:hover .content {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.agency-services-box:hover .content h3 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.agency-services-box:hover .content .read-more-btn {
  opacity: 1;
  visibility: visible;
}

/*================================================
Agency CTA CSS
=================================================*/
.agency-cta-area {
  position: relative;
  z-index: 1;
  background-image: url(../img/agency-image/gradient-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.agency-cta-content {
  text-align: center;
}

.agency-cta-content h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}

/*btn-gradient*/
.btn-gradient {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ee0979), to(#ff6a00));
  background: linear-gradient(90deg, #ee0979 0, #ff6a00 100%);
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  -webkit-transform: unset !important;
          transform: unset !important;
}

.btn-gradient::after {
  display: none;
}

.btn-gradient::before {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  background: linear-gradient(135deg, #23bdb8 0, #43e794 100%);
  left: 0;
  border-radius: 4px;
}

.btn-gradient:hover, .btn-gradient:focus, .btn-gradient:active {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ee0979), to(#ff6a00));
  background: linear-gradient(90deg, #ee0979 0, #ff6a00 100%);
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.btn-gradient:hover::before, .btn-gradient:focus::before, .btn-gradient:active::before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.btn-gradient:not(:disabled):not(.disabled).active, .btn-gradient:not(:disabled):not(.disabled):active, .btn-gradient .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ee0979), to(#ff6a00));
  background: linear-gradient(90deg, #ee0979 0, #ff6a00 100%);
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.btn-gradient:not(:disabled):not(.disabled).active::before, .btn-gradient:not(:disabled):not(.disabled):active::before, .btn-gradient .show > .btn-primary.dropdown-toggle::before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.btn-gradient.disabled, .btn-gradient:disabled {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ee0979), to(#ff6a00));
  background: linear-gradient(90deg, #ee0979 0, #ff6a00 100%);
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.btn-gradient.disabled::before, .btn-gradient:disabled::before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
/*# sourceMappingURL=digital-agency.css.map */