/*
@File: Pasona Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Feedback CSS
** - ML Feedback CSS
** - Testimonials CSS
** - Agency Feedback Area CSS
** - Big Data Feedback CSS
** - Repair Feedback CSS
*/
/*================================================
Default CSS
=================================================*/
/*================================================
Feedback CSS
=================================================*/
.feedback-area {
  position: relative;
  z-index: 1;
}

.feedback-slides {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

.feedback-slides .client-feedback {
  position: relative;
}

.feedback-slides .client-feedback .single-feedback {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 60px;
  position: relative;
  padding-left: 170px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.feedback-slides .client-feedback .single-feedback .client-img {
  position: absolute;
  left: 40px;
  top: 40px;
}

.feedback-slides .client-feedback .single-feedback .client-img img {
  border-radius: 50%;
  border: 2px solid #44ce6f;
  padding: 3px;
  width: auto !important;
  display: inline-block !important;
}

.feedback-slides .client-feedback .single-feedback h3 {
  font-size: 18px;
  margin: 0;
}

.feedback-slides .client-feedback .single-feedback span {
  display: block;
  color: #c679e3;
  margin-top: 8px;
  margin-bottom: 18px;
}

.feedback-slides .client-feedback .single-feedback p {
  font-size: 15px;
}

.feedback-slides .client-feedback .single-feedback::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  right: 0;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback-slides .client-thumbnails {
  position: relative;
  margin: 0 85px;
}

.feedback-slides .client-thumbnails .item .img-fill {
  cursor: pointer;
  position: relative;
  text-align: center;
}

.feedback-slides .client-thumbnails .item .img-fill img {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  border: 2px solid #44ce6f;
  border-radius: 50%;
  padding: 3px;
  width: 85px;
}

.feedback-slides .client-thumbnails .item:hover .img-fill img {
  opacity: 1;
}

.feedback-slides .client-thumbnails .slick-center .item .img-fill img {
  opacity: 1;
}

.client-thumbnails .next-arrow, .client-thumbnails .prev-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  color: #5e5e5e;
  border: 2px solid #5e5e5e;
  z-index: 1;
  border-radius: 50%;
  line-height: 35px;
  outline: 0 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.client-thumbnails .next-arrow::before, .client-thumbnails .prev-arrow::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}

.client-thumbnails .next-arrow:hover, .client-thumbnails .prev-arrow:hover {
  color: #ffffff;
  border-color: #44ce6f;
}

.client-thumbnails .next-arrow:hover::before, .client-thumbnails .prev-arrow:hover::before {
  opacity: 1;
  visibility: visible;
}

.client-thumbnails .next-arrow svg, .client-thumbnails .prev-arrow svg {
  width: 18px;
  height: 18px;
  position: relative;
}

.client-thumbnails .next-arrow {
  right: -20px;
}

.client-thumbnails .prev-arrow {
  left: -20px;
}

.testimonials-slides {
  background-color: #f7fbfe;
  max-width: 850px;
  margin: 90px auto 30px;
  position: relative;
  z-index: 1;
}

.testimonials-slides .single-feedback-item {
  margin: 0 15px;
}

.testimonials-slides::before {
  position: absolute;
  left: -30px;
  top: -30px;
  width: 260px;
  height: 260px;
  content: '';
  z-index: -1;
  background-image: url(../img/layer.png);
}

.testimonials-slides::after {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 260px;
  height: 260px;
  content: '';
  z-index: -1;
  background-image: url(../img/layer.png);
}

.testimonials-slides .VueCarousel-pagination {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.testimonials-slides .VueCarousel-pagination .VueCarousel-dot-container {
  margin-top: 0 !important;
}

.single-feedback-item {
  padding: 40px 130px 90px;
  text-align: center;
  background-color: #f7fbfe;
  position: relative;
}

.single-feedback-item .client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: left;
  max-width: 280px;
  margin: 0 auto 25px;
}

.single-feedback-item .client-info .image {
  padding-right: 20px;
}

.single-feedback-item .client-info .image img {
  display: inline-block !important;
  width: 75px;
  border-radius: 50%;
  border: 3px solid #44ce6f;
}

.single-feedback-item .client-info .title h3 {
  font-size: 18px;
  margin: 0;
}

.single-feedback-item .client-info .title span {
  display: block;
  margin-top: 8px;
  color: #c679e3;
}

.single-feedback-item p {
  font-size: 16px;
  font-style: italic;
}

.single-feedback-item::before {
  content: "\f11b";
  color: #d9dcde;
  font-family: Flaticon;
  font-size: 30px;
  font-style: normal;
  font-size: 65px;
  position: absolute;
  top: 0;
  left: 25px;
}

/*================================================
ML Feedback CSS
=================================================*/
.ml-feedback-area {
  background: -webkit-gradient(linear, left bottom, right top, from(#d5fefd), color-stop(#e0fdff), color-stop(#effbff), color-stop(#fbfaff), to(#fffcff));
  background: linear-gradient(to right top, #d5fefd, #e0fdff, #effbff, #fbfaff, #fffcff);
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.single-ml-feedback-item {
  -webkit-box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.04);
  margin-bottom: 45px;
  background-color: #ffffff;
  position: relative;
  padding: 60px 70px 60px 190px;
  border-radius: 5px;
}

.single-ml-feedback-item .client-info {
  position: absolute;
  left: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.single-ml-feedback-item .client-info img {
  border-radius: 5px;
  border: 2px solid #f4f5fe;
  width: 80px !important;
  height: 80px !important;
  padding: 5px;
  display: inline-block !important;
}

.single-ml-feedback-item .client-info h3 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 17px;
}

.single-ml-feedback-item .client-info span {
  display: block;
  color: #c679e3;
  margin-top: 5px;
  font-size: 13px;
}

.single-ml-feedback-item p {
  margin-bottom: 0;
  color: #4a6f8a;
}

.single-ml-feedback-item .rating {
  margin-top: 10px;
}

.single-ml-feedback-item .rating i {
  color: #ff612f;
  width: 18px;
  margin-right: 3px;
}

.single-ml-feedback-item::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 5px;
  bottom: -15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.04);
  z-index: -1;
  margin-left: 30px;
  margin-right: 30px;
}

.ml-feedback-slides {
  max-width: 750px;
  margin: -40px auto 30px;
}

.ml-feedback-slides .single-ml-feedback-item {
  margin-top: 40px;
}

.ml-feedback-slides .VueCarousel-slide {
  padding-left: 50px;
  padding-right: 50px;
}

/*================================================
Testimonials CSS
=================================================*/
.single-testimonials-item {
  -webkit-box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.04);
  margin-bottom: 45px;
  background-color: #ffffff;
  position: relative;
  padding: 110px 65px 60px;
  border-radius: 5px;
  text-align: center;
}

.single-testimonials-item p {
  margin-bottom: 0;
  color: #4a6f8a;
  font-size: 15px;
}

.single-testimonials-item .client-info {
  text-align: left;
  position: relative;
  padding-left: 95px;
  margin-top: 25px;
  max-width: 235px;
  margin-left: auto;
  margin-right: auto;
}

.single-testimonials-item .client-info img {
  border-radius: 5px;
  border: 2px solid #f4f5fe;
  width: 80px !important;
  height: 80px !important;
  padding: 5px;
  display: inline-block !important;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.single-testimonials-item .client-info .rating i {
  margin-right: 3px;
  color: #ff612f;
  width: 16px;
}

.single-testimonials-item .client-info h3 {
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 17px;
}

.single-testimonials-item .client-info span {
  display: block;
  color: #c679e3;
  margin-top: 5px;
  font-size: 13px;
}

.single-testimonials-item::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 5px;
  bottom: -15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.04);
  z-index: -1;
  margin-left: 30px;
  margin-right: 30px;
}

.single-testimonials-item::before {
  content: "\f11b";
  color: #d9dcde;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Flaticon;
  font-style: normal;
  font-size: 65px;
}

.ml-feedback-slides .single-testimonials-item {
  margin-top: 40px;
}

.user-shape1 {
  position: absolute;
  z-index: -1;
  top: 12%;
  left: 10%;
  -webkit-animation: movebounce 9s linear infinite;
          animation: movebounce 9s linear infinite;
}

.user-shape2 {
  position: absolute;
  z-index: -1;
  left: 7%;
  -webkit-animation: moveleftbounce 7s linear infinite;
          animation: moveleftbounce 7s linear infinite;
  top: 47%;
}

.user-shape3 {
  position: absolute;
  z-index: -1;
  bottom: 12%;
  left: 15%;
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
}

.user-shape4 {
  position: absolute;
  z-index: -1;
  top: 12%;
  right: 10%;
  -webkit-animation: movebounce 9s linear infinite;
          animation: movebounce 9s linear infinite;
}

.user-shape5 {
  position: absolute;
  z-index: -1;
  right: 7%;
  top: 45%;
  -webkit-animation: moveleftbounce 7s linear infinite;
          animation: moveleftbounce 7s linear infinite;
}

.user-shape6 {
  position: absolute;
  z-index: -1;
  bottom: 12%;
  right: 15%;
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
}

.shape9 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.shape9 img {
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
}

/*================================================
Agency Feedback Area CSS
=================================================*/
.agency-portfolio-feedback-slides {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.agency-portfolio-feedback-item {
  margin-bottom: 20px;
  text-align: center;
}

.agency-portfolio-feedback-item img {
  width: auto !important;
  display: inline-block !important;
  border-radius: 50%;
  border: 3px solid #999999;
}

.agency-portfolio-feedback-item p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 0;
}

/*================================================
Big Data Feedback CSS
=================================================*/
.bigdata-feedback-area {
  background-color: #eef6fd;
}

.single-feedback-box {
  position: relative;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.single-feedback-box .feedback-desc {
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-top: 40px;
}

.single-feedback-box .feedback-desc p {
  margin-bottom: 0;
  position: relative;
  color: #0e314c;
}

.single-feedback-box .feedback-desc p::before {
  content: '"';
  position: relative;
  display: inline-block;
  left: 0;
  color: #0e314c;
}

.single-feedback-box .feedback-desc p::after {
  content: '"';
  position: relative;
  display: inline-block;
  right: 0;
  color: #0e314c;
}

.single-feedback-box .feedback-desc::before {
  content: '';
  position: absolute;
  left: 35px;
  bottom: -12px;
  width: 25px;
  height: 25px;
  z-index: -1;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.single-feedback-box::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "\f11b";
  position: absolute;
  left: 0;
  top: -25px;
  left: -25px;
  color: #ffffff;
  background: linear-gradient(135deg, #43e794 0%, #23bdb8 100%);
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  z-index: 2;
  text-align: center;
  font-family: Flaticon;
  font-size: 30px;
}

.single-feedback-box .client-info {
  position: relative;
  padding-left: 65px;
  margin-top: 32px;
  margin-bottom: 25px;
  margin-left: 27px;
}

.single-feedback-box .client-info img {
  width: 50px !important;
  height: 50px !important;
  display: inline-block !important;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-box .client-info h3 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.single-feedback-box .client-info span {
  display: block;
  color: #6084a4;
  margin-top: 6px;
}

/*================================================
Repair Feedback CSS
=================================================*/
.single-repair-feedback {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 55px;
  position: relative;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.single-repair-feedback .client-img {
  position: relative;
  text-align: left;
  margin-bottom: 40px;
  display: inline-block;
  padding-left: 108px;
  padding-top: 18px;
}

.single-repair-feedback .client-img img {
  border-radius: 50%;
  border: 2px solid #44ce6f;
  padding: 3px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
}

.single-repair-feedback .client-img h3 {
  font-size: 18px;
  margin: 0;
}

.single-repair-feedback .client-img span {
  display: block;
  color: #c679e3;
  margin-top: 8px;
}

.single-repair-feedback p {
  font-size: 15px;
}

.single-repair-feedback::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  right: 0;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.single-repair-feedback::after {
  content: "\f11b";
  color: #d9dcde;
  font-family: Flaticon;
  font-size: 30px;
  font-style: normal;
  font-size: 65px;
  position: absolute;
  top: 0;
  left: 25px;
}
/*# sourceMappingURL=feedback.css.map */