/*
@File: Pasona Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - IoT Main Banner CSS
** - IoT Partner CSS
** - Iot Services CSS
** - IoT CTA CSS
** - IoT Features CSS
** - IoT Why Choose Us CSS
*/

/*================================================
Default CSS
=================================================*/
$font-family: 'Poppins', sans-serif;
$light-green-color: #44ce6f;
$white-color: #ffffff;
$black-color: #0e314c;
$navlink-color: #4a6f8a;
$paragraph-color: #6084a4;
$purple-color: #c679e3;
$bg-color: #f7fafd;
$bg-color2: #f9f6f6;
$hosting-main-color: #032b8d;
$gradient-color: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
$gradient-color2: linear-gradient(to right bottom, #1fa2ff, #00c0ff, #00d9f2, #53eedd, #a6ffcb);
$transition: .5s;
$font-size: 14px;

/*================================================
IoT Main Banner CSS
=================================================*/
.iot-main-banner {
    position: relative;
    z-index: 1;
    padding: {
        top: 215px;
        bottom: 150px;
    }
}
.iot-banner-content {
    max-width: 445px;

    span {
        color: $light-green-color;
        font-size: 15px;
        display: block;
    }
    h2 {
        font-size: 40px;
        margin: {
            top: 7px;
            bottom: 17px;
        }
        line-height: 1.3;
    }
    .btn {
        margin-top: 10px;
    }
}
.iot-banner-image {
    position: absolute;
    text-align: center;
    right: 30px;
    top: 56%;
    transform: translateY(-50%);

    img {
        &:first-child {
            max-width: 730px;
        }
        &:last-child {
            position: absolute;
            left: -118px;
            right: 0;
            margin: 0 auto;
            top: 39px;
            z-index: -1;
        }
    }
}
.animate-border {
    span {
        position: absolute;
        display: block;
        width: 5%;
        padding-bottom: 5%;
        top: 51%;
        left: 67%;
        opacity: 0;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
        pointer-events: none;
        border-radius: 50%;
        z-index: -2;

        &:nth-child(1) {
            animation: 4.2s ease-out .5s infinite normal none running pulsei;
        }
        &:nth-child(2) {
            animation: 4.2s ease-out 1.5s infinite normal none running pulsei;
        }
        &:nth-child(3) {
            animation: 4.2s ease-out 2.5s infinite normal none running pulsei;
        }
        &:nth-child(4) {
            animation: 4.2s ease-out 3.5s infinite normal none running pulsei;
        }
    }
}
@keyframes pulsei {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        border: 1.5px solid #b3eaf8;
        opacity: 1;
        width: 5%;
        padding-bottom: 5%;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 0;
        width: 50%;
        border: 1.5px solid #b3eaf8;
        padding-bottom: 50%;
    }
}

/*================================================
IoT Partner CSS
=================================================*/
.iot-partner-area {
    padding: {
        top: 45px;
        bottom: 45px;
    }
}
.single-iot-partner {
    text-align: center;

    a {
        display: block;
        position: relative;

        img {
            width: auto !important;
            display: inline-block !important;

            &:last-child {
                position: absolute;
                top: 20px;
                left: 0;
                right: 0;
                margin: 0 auto;
                transition: $transition;
                opacity: 0;
                visibility: hidden;
            }
        }
        &:hover, &:focus {
            img {
                &:last-child {
                    opacity: 1;
                    visibility: visible;
                    top: 0;
                }
            }
        }
    }
}

/*================================================
Iot Services CSS
=================================================*/
.iot-services-area {
    padding-bottom: 50px;
}
.single-iot-services {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    padding: 40px 30px;
    text-align: center;
    background-color: $white-color;
    border: 1px dashed #cdf1d8;
    
    &::after {
        position: absolute;
        transition: $transition;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $gradient-color;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }
    h3 {
        font-size: 18px;
        transition: $transition;
        margin: {
            top: 22px;
            bottom: 17px;
        }
        line-height: 1.5;
    }
    .icon {
        display: inline-block;
        color: $light-green-color;
        width: 85px;
        height: 85px;
        line-height: 85px;
        border: 1px solid #e3f7e9;
        border-radius: 50%;
        transition: $transition;

        i {
            &::before {
                font-size: 35px;
            }
        }
    }
    p {
        margin-bottom: 25px;
        transition: $transition;
    }
    a {
        width: 35px;
        background-color: #f9fafb;
        height: 35px;
        line-height: 25px;
        color: $black-color;
        border-radius: 50%;

        svg {
            width: 15px;
        }
        i {
            position: relative;
            top: 5px;
        }
    }
    &:hover, &:focus {
        &::after {
            opacity: 1;
            visibility: visible;
        }
        h3 {
            color: $white-color;
        }
        p {
            color: $white-color;
        }
        .icon {
            border-color: $white-color;
            color: $white-color;
        }
        a {
            background-color: $white-color;
            color: $light-green-color;
        }
    }
}

/*================================================
IoT CTA CSS
=================================================*/
.iot-cta-area {
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: {
        top: 10px;
        bottom: 10px;
    }
}
.cta-iot-content {
    h3 {
        color: $white-color;
        font-size: 25px;
        margin-bottom: 17px;
    }
    p {
       color: $white-color;
       opacity: .95;
       margin-bottom: 25px;
    }
}
.cta-iot-img {
    text-align: center;
}

/*================================================
IoT Features CSS
=================================================*/
.iot-features-content {
    h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .btn {
        margin-top: 15px;
    }
}
.iot-features-image {
    position: relative;
    text-align: center;
}

/*================================================
IoT Why Choose Us CSS
=================================================*/
.iot-why-choose-us {
    position: relative;
    z-index: 1;
    background: $gradient-color;

    .section-title {
        h2 {
            color: $white-color;
        }
        .bar {
            &::before {
                background: $white-color;
            }
        }
        p {
            color: $white-color;
            opacity: .95;
        }
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 37%;
        width: 100%;
        background: $white-color;
        z-index: -1;
    }
}
.single-iot-box {
    text-align: center;
    background-color: $white-color;
    border: 1px dashed #cdf1d8;
    padding: 30px;
    position: relative;
    z-index: 1;
    transition: $transition;

    h3 {
        font-size: 18px;
        margin: {
            top: 22px;
            bottom: 17px;
        }
    }
    p {
        margin-bottom: 25px;
    }
    a {
        width: 40px;
        background-color: #eef0f3;
        height: 40px;
        line-height: 25px;
        color: $black-color;
        border-radius: 50%;

        svg {
            width: 18px;
        }
        i {
            position: relative;
            top: 7px;
        }
    }
    .icon {
        display: inline-block;
        border: 1px solid #f3f8fd;
        width: 100px;
        height: 100px;
        line-height: 96px;
        border-radius: 50%;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            background: #f7fafd;
            border-radius: 50%;
            margin: 6px;
            transition: $transition;
        }
        i {
            &::before {
                font-size: 35px;
            }
        }
        img {
            width: 45px;
        }
    }
    &:hover, &:focus {
        border-color: $light-green-color;

        a {
            background-color: $light-green-color;
            color: $white-color;
        }
    }
}